body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(75deg, #433bb3, #098be8);
  font-size: 18px;
}

.md {
  margin: auto;
  width: 50%;
  border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
.ud {
  text-align: center;
  background: linear-gradient(75deg, #433bb3, #098be8);
  color: white;
  height: 50%;
  padding: 15px;
  border-radius: 15px 15px 0px 0px;
}
.dd {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 0px 0px 15px 15px;
}
.td {
  background: linear-gradient(90deg, #dff0f5, #bec9cf);
  color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
}
.ab {
  background: linear-gradient(75deg, #433bb3, #098be8);
  color: white;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
  font-size: 20px;
}
.ab:hover {
  background: linear-gradient(75deg, #4d46b3, #1a92e8)
  transition: 1s;
}

.info {
  color: black;
}

.ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}